<h1>Burgers!</h1>

<h2>Burgers you can eat!</h2>

<ul>
  {{#each cats}}
    {{#unless sleepy}}
      {{> cats/cat-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Eaten Burgers!</h2>

<ul>
  {{#each cats}}
    {{#if sleepy}}
      {{> cats/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">To eat or already ate it?</label><br>
    <input type="radio" name="sleepy" value="1" checked> In my belly!<br>
    <input type="radio" name="sleepy" value="0"> To eat!
  </div>

  <button type="submit">Add Burger</button>
</form>